.history {
  margin: 72px 0;

  $block-name:                &; // #{$block-name}__element

  &__header {
    margin-bottom: 24px;

    @media (min-width: $screen-xl) {
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    padding: 24px;
    margin: 0;
    border: 1px solid $border-color;
    border-radius: $border-radius--24;
  }

  &__total {
    position: relative;

    &::before {
      display: block;
      content: "";
      position: absolute;
      left: 10px;
      top: 5px;
      bottom: 0;
      width: 2px;
      background-color: $border-color;

      @media (min-width: $screen-xl) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  &__stage {
    position: relative;

    @media (min-width: $screen-xl) {

      & + & {
        margin-top: 40px;
      }

      &:nth-child(odd) {

        #{$block-name}__col-text {
          order: -1;
        }

        #{$block-name}__text-wrapper {
          padding-left: 0;
          padding-right: 45px;
          margin-bottom: 0;
        }

        #{$block-name}__img-wrapper {
          padding-left: 45px;
          margin-bottom: 0;
        }
      }

      &:nth-child(even) {

        #{$block-name}__text-wrapper {
          padding-left: 45px;
          margin-bottom: 0;
        }

        #{$block-name}__img-wrapper {
          padding-left: 0;
          padding-right: 45px;
          margin-bottom: 0;
        }
      }
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: $main-color;
      //opacity: 0;
      transform: scale(0);
      transition: transform 0.35s;
      will-change: transform;

      @media (min-width: $screen-xl) {
        left: 50%;
        transform: translateX(-50%) scale(0);
      }
    }

    &:last-child {

      #{$block-name}__text-wrapper {
        margin-bottom: 0;
      }
    }

    &.active {

      &::after {
        //opacity: 1;
        transform: scale(1);

        @media (min-width: $screen-xl) {
          transform: translateX(-50%) scale(1);
        }
      }
    }
  }

  &__col-total {
    @include col(xs, 12);
    @include col(md, 9);
    @include col-offset(xl, 1);
    @include col(xl, 10);
  }

  &__col-img {
    @include col(xs, 12);
    @include col(xl, 6);
  }

  &__col-text {
    @include col(xs, 12);
    @include col(xl, 6);
  }

  &__img-wrapper {
    padding-left: 40px;
    margin-bottom: 24px;

    @media (min-width: $screen-md) {
      padding-left: 60px;
    }

    &:empty {
      display: none;
    }
  }

  &__img {
    border-radius: $border-radius--24;

    img {
      object-fit: cover;
      object-position: center;
    }
  }

  &__text-wrapper {
    padding-left: 40px;
    margin-bottom: 40px;

    @media (min-width: $screen-md) {
      padding-left: 60px;
    }
  }

  &__text {
    padding: 16px;
    background-color: $white;
    border-radius: $border-radius--24;
    box-shadow: $box-shadow;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &__year {
    margin-top: 0;
  }
}
