.call-me-link {

  $block-name:                &; // #{$block-name}__element

  display: none;

  @media (min-width: $screen-md) {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: $font-size-sm;
    font-weight: 500;
    color: $secondary-color--dark;
  }

  svg {
    width: 24px;
    height: 24px;
  }
}
