.about-block {
  margin: 72px 0;
  //margin-bottom: 72px;

  $block-name:                &; // #{$block-name}__element

  &__col {
    @include col(xs, 12);
    @include col(xl, 8);
  }

  &__title {
    margin: 0 0 16px;
  }

  &__content {

    * {
      margin-bottom: 0;
    }

    * + * {
      margin-top: 16px;
    }
  }
}
